@media screen and (max-width: 1278px) {
  .header-text {
    font-size: 28px;
  }

  .small-font {
    font-size: 30px;
  }

  .head-text {
    position: relative;
    margin-bottom: "20px";
    margin-top: "10px";
  }

  .center-text {
    position: relative;
  }
}

@media screen and (max-width: 1160px) {
  .description {
    width: 80%;
    /* margin: 0 auto; */
  }
}

@media screen and (max-width: 1145px) {
  .header-text {
    font-size: 20px;
  }
  .head-text {
    position: relative;
    margin-bottom: "5px";
    margin-top: "10px";
  }
}

@media screen and (max-width: 700px) {
  .header-text {
    /* display: none; */
  }
  .small-font {
    font-size: 30px;
  }
}

@media screen and (max-width: 640px) {
  .small-font {
    font-size: 20px;
  }
  .center-text {
    aspect-ratio: 16/7;
  }
}

@media screen and (max-width: 470px) {
  .center-text {
    aspect-ratio: 16/8;
  }
}

@media screen and (max-width: 435px) {
  .center-text {
    aspect-ratio: 16/9;
  }
}

@media screen and (max-width: 425px) {
  .center-text {
    aspect-ratio: 16/10;
  }
}

@media screen and (max-width: 412px) {
  .center-text {
    aspect-ratio: 16/11;
  }
}

@media screen and (max-width: 375px) {
  .center-text {
    aspect-ratio: 16/17;
  }
}

/* @media screen and (max-width: 359px) {
  .center-text {
    aspect-ratio: 16/16;
  }
} */

/* /////////////////////////////////////////////////////////////////// */
main {
  width: 100%;
  max-width: 100%;
}

@media (max-width: 936px) {
  /* .timeline-content {
    margin-top: -100px;
  } */

  .timeline-container h2 {
    margin-right: 560px;
  }

  .container-card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 200px;
    margin: 10px;
  }

  .card-contents .descr {
    display: none;
  }

  .card-22 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
  }

  .card-contents {
    margin-bottom: -50px;
    width: 75%;
    height: 75%;
  }

  .card-contents .dashbutton-blue {
    bottom: -20px;
  }

  .card-contents .dashbutton-green {
    bottom: -20px;
  }
  .card-contents .dashbutton-orange {
    bottom: -20px;
  }

  .container-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* added in 11-9-23 */
@media screen and (max-width: 1450px) {
  .logo-text {
    display: none;
  }
}

@media (max-width: 700px) {
  /* .timeline-content {
    margin-top: -80px;
  } */

  .timeline-container h2 {
    margin-right: 340px;
  }

  .container-card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 120px;
    width: 120px;
    margin: 15px;
    margin-top: 30px;
    /* width: 100%; */
  }

  .card-22 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
  }

  .card-contents {
    margin-bottom: 40px;
    width: 50%;
    height: 50%;
  }

  .card-contents .descr {
    display: none;
  }

  .card-contents .dashbutton-blue {
    bottom: -20px;
  }

  .card-contents .dashbutton-green {
    bottom: -20px;
  }
  .card-contents .dashbutton-orange {
    bottom: -20px;
  }

  .container-center {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
  }
}

@media (max-width: 472px) {
  .container-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 40px;
    width: 120px;
    margin: 15px;
    margin-top: 60px;
    /* width: 100%; */
  }

  .card-22 {
    display: none;
  }

  .card-contents {
    margin-top: 290px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: bottom;
  }

  /* .img99,
  .card-contents h3,
  .card-contents .descr {
    display: none;
  } */

  .card-contents .dashbutton-blue {
    bottom: -20px;
  }

  .card-contents .dashbutton-green {
    bottom: -20px;
  }
  .card-contents .dashbutton-orange {
    bottom: -20px;
  }

  .container-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
  }
}

@media (max-width: 950px) {
  .pvanish .contentz {
    display: none;
  }

  .favgrid {
    margin-bottom: -600px;
  }
}

@media (max-width: 722px) {
  .favgrid {
    margin-bottom: 0px;
    grid-template-columns: repeat(1, 1fr) !important;
  }

  .fav-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .favleftcard {
    max-width: 100%;
    margin: 10px;
    margin-left: 5%;
  }

  .favrightcard {
    margin-left: 5%;
    margin-bottom: 20px;
    max-width: 100%;
    display: flex !important;
    justify-content: center;
    align-items: center !important;
  }
}

@media (max-width: 458px) {
  .fav-acc {
    width: 290px;
  }
}

@media (max-width: 574px) {
  .footer-content .nav {
    display: flex;
    justify-content: center;
    row-gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
  }
}

@media (max-width: 422px) {
  .footer-content .nav {
    gap: 10px;
  }
}

@media (max-width: 336px) {
  .footer-content .nav {
    gap: 0px;
  }
}

.bi {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

h1 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 25px;
  color: #154360;
}

.centerCalendar {
  text-align: center;
}

.add-amen {
  margin-top: -70px !important;
  font-family: "Lora", serif;
}

.head-text {
  position: relative;
  color: black;
}

.center-text {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.large-font {
  font-size: 100px;
}

.small-font {
  color: white;
  font-family: "Lora", serif;
  /* font-size: 49px; */
}

.header .navlink2 {
  /* ones below were commented out on 11-7-23 */
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 30px;
  /* font-family: "Roboto", sans-serif; */
  font-family: "Lora", serif;
}

.header .navlink3 {
  /* ones below were commented out on 11-7-23 */
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 30px;
  /* font-family: "Roboto", sans-serif; */
  font-family: "Lora", serif;
}

.header .navlink4 {
  /* ones below were commented out on 11-7-23 */
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 30px;
  /* font-family: "Roboto", sans-serif; */
  font-family: "Lora", serif;
}

.header .navlink5 {
  /* ones below were commented out on 11-7-23 */
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 30px;
  /* font-family: "Roboto", sans-serif; */
  font-family: "Lora", serif;
}

.logo-text {
  /* ones below were commented out on 11-7-23 */
  color: white;
  /* font-family: "Roboto", sans-serif; */
  font-family: "Lora", serif;
  font-size: 60px;
}

.carousel {
  width: 900px;
  height: 500px;
  margin: auto;
  padding-top: 75px;
}

/* below to are from here: https://stackoverflow.com/questions/20207487/bootstrap-3-default-carousel-how-to-move-indicators-down-and-outside-of-slide-c */
.carousel-indicators {
  bottom: -175px;
}

.carousel-control-prev {
  bottom: -160%;
}

.carousel-control-next {
  bottom: -160%;
}

.d-block {
  border-radius: 8px;
}

@media (max-width: 900px) {
  .carousel {
    width: auto;
    height: auto;
  }
}

.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  color: black !important;
}

.ReactModal__Content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 80%;
  position: relative;
  z-index: 1001;
  top: 20%;
  color: black !important;
}

.close-button {
  position: relative;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 18px;
  color: white;
  background-color: #154360;
  border-radius: 8%;
}

.close-button:hover {
  color: #3498db;
}

.photo-bg {
  position: relative;
  font-family: "Lora", serif;
}

.container-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 9%;
}

.carousel-navigation.left {
  margin-left: -45px;
}

.carousel-navigation.right {
  margin-right: -45px;
}

.footer {
  margin-top: auto;
  color: white !important;
  font-size: 25px;
  text-align: center;
  padding: 0;
  position: relative;
  position: absolute;
  display: flex;
  width: 100%;
  background-color: #154360 !important;
  font-family: "Lora", serif;
}

.footer-content .nav {
  display: flex;
  width: 100%;
  justify-content: center;
  /* gap: 100px; */
}

.footer-content a {
  text-decoration: none;
  transition: color 0.3s ease;
  color: white;
  font-weight: bold;
}

.footer .footer-content {
  flex-grow: 1;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}

/* added 11-9-23 */

.feature-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 800px) {
  .feature-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 580px) {
  .feature-grid {
    grid-template-columns: 1fr;
    width: 100%;
  }
  .feature-grid .feature-card {
    width: 100%;
  }
  /* added in 11-9-23 but doesn't seem to do anything */
  .header-text {
    width: 95%;
  }
}

.description {
  width: 90%;
  margin: 0 auto;
}

.feature-card {
  font-family: "Lora", serif;
}

.loraFont {
  font-family: "Lora", serif;
}

.contactInfo {
  font-size: 20px;
  text-align: center;
  list-style-type: none;
}

.contactBorder {
  border: solid;
  color: #154360;
  border-radius: 5px;
  border-width: 5px 5px;
  /* width: "50%"; */
  padding: 25px;
  box-sizing: content-box;
  /* display: grid;
  justify-content: center;
  align-items: center; */
}

h2 {
  text-align: center;
  font-size: 40px;
  color: #154360;
}
