/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.header {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
}

.head-text {
  position: relative;
  color: #0b5345;
}

.center-text {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* font-family: "Rouge Script", cursive; */
  font-family: "Ceviche One", cursive;
  /* font-family: "Source Code Pro", monospace; */
}

.large-font {
  font-size: 100px;
}

#small-font {
  /* font-family: "Kaushan Script", cursive; */
  /* font-family: "Dancing Script", cursive; */
  /* font-family: "Fuggles", cursive; */
  /* font-family: "Croissant One", cursive; */
  /* font-family: "Bebas Neue", sans-serif; */
}

.header .navlink2 {
  color: #3498db;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 20px;
  font-family: "Ceviche One", cursive;
  /* margin-right: 16px; */
  /* margin-left: -30%; */
}

.header .navlink3 {
  color: #3498db;
  text-decoration: none;
  transition: color 0.3s ease;
  /* margin-left: -30%; */
  font-size: 20px;
  font-family: "Ceviche One", cursive;
}

.header .navlink4 {
  color: #3498db;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 20px;
  font-family: "Ceviche One", cursive;
  /* margin-left: 3%; */
}

.header .navlink5 {
  color: #3498db;
  text-decoration: none;
  transition: color 0.3s ease;
  /* margin-left: 3%; */
  font-size: 20px;
  font-family: "Ceviche One", cursive;
}

.logo-text {
  color: #3498db;
  font-family: "Ceviche One", cursive;
  font-size: 30px;
}

.carousel {
  width: 900px;
  height: 500px;
  margin: auto;
  padding-top: 75px;
}

/* below to are from here: https://stackoverflow.com/questions/20207487/bootstrap-3-default-carousel-how-to-move-indicators-down-and-outside-of-slide-c */
.carousel-indicators {
  bottom: -175px;
}

.carousel-control-prev {
  bottom: -160%;
}

.carousel-control-next {
  bottom: -160%;
}

.d-block {
  border-radius: 8px;
}

@media (max-width: 900px) {
  .carousel {
    width: auto;
    height: auto;
  }
}

.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}

.ReactModal__Content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 80%;
  position: relative;
  z-index: 1001;
  top: 20%;
}

/* .ReactModal__Content {
  padding: 20px;
  border-radius: 8px;
  max-width: 80%;
  position: relative;
  z-index: 1001;
  top: 20%;
} */

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 18px;
  color: #333;
}

.close-button:hover {
  color: #3498db;
}

.footer {
  margin-top: auto;
  color: #0e6251;
  text-align: center;
  padding: 0;
  position: relative;
  bottom: 0%;
  width: 100%;
  background-color: #0e6251 !important;
}

/* in footer: */
/* .quote-container p {
  font-style: italic;
  margin-top: 5px;
} */

.footer-content .nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 100px;
}

.footer-content a {
  /* color: rgba(0, 0, 0, 0.18); */
  text-decoration: none;
  transition: color 0.3s ease;
  font-weight: bold;
}

/* .footer-content a:hover {
  color: yellow;
} */

/* .footer-info {
  font-size: 12px;
} */

.footer .footer-content {
  /* background-color: #85ae5a !important; */
  flex-grow: 1;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* .card {
  padding: 2em;
} */

.read-the-docs {
  color: #888;
}
