/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

/* html,
body,
#root {
  height: 150%;
} */

/* #root {
  display: flex;
  flex-direction: column;
} */

@media screen and (max-width: 1278px) {
  .header-text {
    font-size: 28px;
  }
}

@media screen and (max-width: 1145px) {
  .header-text {
    font-size: 20px;
  }
}

@media screen and (max-width: 700px) {
  .header-text {
    display: none;
  }
}

@media (max-width: 936px) {
  .timeline-content {
    margin-top: -100px;
  }

  .timeline-container h2 {
    margin-right: 560px;
  }

  .container-card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 200px;
    margin: 10px;
  }

  .card-contents .descr {
    display: none;
  }

  .card-22 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
  }

  .card-contents {
    margin-bottom: -50px;
    width: 75%;
    height: 75%;
  }

  .card-contents .dashbutton-blue {
    bottom: -20px;
  }

  .card-contents .dashbutton-green {
    bottom: -20px;
  }
  .card-contents .dashbutton-orange {
    bottom: -20px;
  }

  .container-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 700px) {
  .timeline-content {
    margin-top: -80px;
  }

  .timeline-container h2 {
    margin-right: 340px;
  }

  .container-card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 120px;
    width: 120px;
    margin: 15px;
    margin-top: 30px;
    /* width: 100%; */
  }

  .card-22 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
  }

  .card-contents {
    margin-bottom: 40px;
    width: 50%;
    height: 50%;
  }

  .card-contents .descr {
    display: none;
  }

  .card-contents .dashbutton-blue {
    bottom: -20px;
  }

  .card-contents .dashbutton-green {
    bottom: -20px;
  }
  .card-contents .dashbutton-orange {
    bottom: -20px;
  }

  .container-center {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
  }
}

@media (max-width: 472px) {
  .container-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 40px;
    width: 120px;
    margin: 15px;
    margin-top: 60px;
    /* width: 100%; */
  }

  .card-22 {
    display: none;
  }

  .card-contents {
    margin-top: 290px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: bottom;
  }

  .img99,
  .card-contents h3,
  .card-contents .descr {
    display: none;
  }

  .card-contents .dashbutton-blue {
    bottom: -20px;
  }

  .card-contents .dashbutton-green {
    bottom: -20px;
  }
  .card-contents .dashbutton-orange {
    bottom: -20px;
  }

  .container-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
  }
}

@media (max-width: 950px) {
  .pvanish .contentz {
    display: none;
  }

  .favgrid {
    margin-bottom: -600px;
  }
}

@media (max-width: 722px) {
  .favgrid {
    margin-bottom: 0px;
    grid-template-columns: repeat(1, 1fr) !important;
  }

  .fav-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .favleftcard {
    max-width: 100%;
    margin: 10px;
    margin-left: 5%;
  }

  .favrightcard {
    margin-left: 5%;
    margin-bottom: 20px;
    max-width: 100%;
    display: flex !important;
    justify-content: center;
    align-items: center !important;
  }
}

@media (max-width: 458px) {
  .fav-acc {
    width: 290px;
  }
}

@media (max-width: 574px) {
  .footer-content .nav {
    gap: 30px;
  }
}

@media (max-width: 422px) {
  .footer-content .nav {
    gap: 10px;
  }
}

@media (max-width: 336px) {
  .footer-content .nav {
    gap: 0px;
  }
}

.bi {
  /* justify-content: center; */
  /* display: inline-block; */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

/* bi::before {
  display: inline-block;
  content: "";
  vertical-align: -.125em;
  background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z' clip-rule='evenodd'/></svg>");
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
} */

h1 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 25px;
  color: #154360;
}

.centerCalendar {
  text-align: center;
}

.add-amen {
  margin-top: -70px !important;
}

.head-text {
  position: relative;
  /* color: #0b5345; */
  color: black;
}

/* .card-22 { */
/* height: 300px; */
/* flex-wrap: wrap-reverse; */
/* overflow-wrap: normal; */
/* width: 300px; */
/* padding: 10px; */
/* } */

.center-text {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* font-family: "Rouge Script", cursive; */
  /* font-family: "Ceviche One", cursive; */
  /* font-family: "Source Code Pro", monospace; */
  /* font-family: "Roboto", sans-serif; */
}

.large-font {
  font-size: 100px;
}

.small-font {
  /* font-family: "Kaushan Script", cursive; */
  /* font-family: "Dancing Script", cursive; */
  /* font-family: "Fuggles", cursive; */
  /* font-family: "Croissant One", cursive; */
  /* font-family: "Bebas Neue", sans-serif; */
  color: white;
  font-size: 49px;
}

/* .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f2f2f2;
} */

/* .logo {
  font-size: 24px;
  font-weight: bold;
} */

/* .menu {
  display: flex;
  gap: 10px;
} */

/* .menu-item {
  padding: 10px;
  border-radius: 5px;
  background-color: #ddd;
} */

/* Mobile Responsive Styles */
/* @media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }
  .menu {
    margin-top: 10px;
  }
} */

.header .navlink2 {
  /* color: #3498db; */
  /* font-family: "Ceviche One", cursive; */
  /* margin-right: 16px; */
  /* margin-left: -30%; */
  /* ones below were commented out on 11-7-23 */
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
}

.header .navlink3 {
  /* color: #3498db; */
  /* color: black; */
  /* margin-left: -30%; */
  /* font-family: "Ceviche One", cursive; */
  /* ones below were commented out on 11-7-23 */
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
}

.header .navlink4 {
  /* color: #3498db; */
  /* color: black; */
  /* font-family: "Ceviche One", cursive; */
  /* margin-left: 3%; */
  /* ones below were commented out on 11-7-23 */
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
}

.header .navlink5 {
  /* color: #3498db; */
  /* color: black; */
  /* margin-left: 3%; */
  /* font-family: "Ceviche One", cursive; */
  /* ones below were commented out on 11-7-23 */
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
}

.logo-text {
  /* color: #3498db; */
  /* font-family: "Ceviche One", cursive; */
  /* color: black; */
  /* font-weight: bold; */
  /* ones below were commented out on 11-7-23 */
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 60px;
}

.carousel {
  width: 900px;
  height: 500px;
  margin: auto;
  padding-top: 75px;
}

/* below to are from here: https://stackoverflow.com/questions/20207487/bootstrap-3-default-carousel-how-to-move-indicators-down-and-outside-of-slide-c */
.carousel-indicators {
  bottom: -175px;
}

.carousel-control-prev {
  bottom: -160%;
}

.carousel-control-next {
  bottom: -160%;
}

.d-block {
  border-radius: 8px;
}

@media (max-width: 900px) {
  .carousel {
    width: auto;
    height: auto;
  }
}

.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: fixed; */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* bottom: 5; */
  z-index: 1000;
  color: black !important;
}

.ReactModal__Content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 80%;
  position: relative;
  z-index: 1001;
  top: 20%;
  color: black !important;
}

/* .ReactModal__Content {
  padding: 20px;
  border-radius: 8px;
  max-width: 80%;
  position: relative;
  z-index: 1001;
  top: 20%;
} */

.close-button {
  /* position: absolute; */
  position: relative;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 18px;
  /* color: #333; */
  color: white;
  /* background-color: #0e6251; */
  background-color: #154360;
  border-radius: 8%;
}

.close-button:hover {
  color: #3498db;
}

.photo-bg {
  /* background-color: #3498db; */
  /* background-color: #d6eaf8; */
  /* background-color: #aed6f1; */
  position: relative;
}

.container-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 9%;
}

.carousel-navigation.left {
  margin-left: -45px;
}

.carousel-navigation.right {
  margin-right: -45px;
}

/* .timeline-content {
  position: unset;
  .react-carousel__arrow {
    position: absolute;
  }
  .react-carousel__arrow--left {
    left: calc(-3% + 1px);
  }
  bottom: -190px;
  justify-content: center;
  align-items: center;
} */

/* .timeline-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.timeline-container h2 {
  margin-bottom: 20px;
  margin-right: 800px;
} */

.footer {
  margin-top: auto;
  /* color: #0e6251; */
  color: white !important;
  font-size: 25px;
  text-align: center;
  padding: 0;
  position: relative;
  position: absolute;
  display: flex;
  /* bottom: 0%; */
  width: 100%;
  /* background-color: #0e6251 !important; */
  background-color: #154360 !important;
}

/* in footer: */
/* .quote-container p {
  font-style: italic;
  margin-top: 5px;
} */

.footer-content .nav {
  display: flex;
  width: 100%;
  /* justify-content: space-between; */
  justify-content: center;
  gap: 100px;
}

.footer-content a {
  /* color: rgba(0, 0, 0, 0.18); */
  text-decoration: none;
  transition: color 0.3s ease;
  /* color: black; */
  color: white;
  font-weight: bold;
}

/* .footer-content a:hover {
  color: yellow;
} */

/* .footer-info {
  font-size: 12px;
} */

.footer .footer-content {
  /* background-color: #85ae5a !important; */
  flex-grow: 1;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* .card {
  padding: 2em;
} */

.read-the-docs {
  color: #888;
}
